---
import type { GetStaticPaths } from "astro";
import type { PokemonList } from "../../interface/pokemon-list";

import MainLayout from "../../layouts/MainLayout.astro";
import PokeCard from "@components/PokeCard.astro";
import NavBar from "src/shared/NavBar.astro";
import { Icon } from "astro-icon/components";

export const getStaticPaths = (async() => {

  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const { results } = await resp.json() as PokemonList;
  
  return results.map(({name, url})=>{
    return{
      params : {name},
      props : {name, url}
    }
  })

}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split('/').at(-2);
const AudioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;


---
<main class="min-h-screen">
  <MainLayout 
  title=`Pokemon | #${id} - ${name}`
  description=`informacion sobre el pokemon numero ${id} conocido como: ${name}`
  image={imgSrc}
  />
  <div class="flex justify-around min-h-50 bg-white-soul pt-10">

		<h2 class="text-8xl text-black-soul">
			Lista de las criaturas
		</h2>

		<NavBar/>
		
	</div>
      <div class="flex flex-col items-center">
        <div class="flex flex-row">
          <h3
          class="
          text-white-soul text-center text-8xl capitalize p-4 m-4 
          mt-10 rounded-2xl
          ">{name}</h3>
          <button 
          id="btn-favorite" class="mt-6" data-name={name} data-id={id}>
            <Icon name="cora-fav" size={50} class="hover:animate-pulse hidden"/>
            <Icon name="sin-cora" size={50}/>
          </button>
        </div>
      <span>
        <PokeCard
        name={name}
        url={url}
        isBig
        />
      </span>
      <audio controls class="mt-10">
        <source src={AudioSrc} type="audio/ogg">
      </audio>
    </div>
  </MainLayout>
</main>
<script>
  
interface FavoritePokemon{
  name: string;
  id: number;
}

document.addEventListener('astro:page-load',()=>{
  const btnFavorite = document.querySelector("#btn-favorite") as HTMLButtonElement;

  if(!btnFavorite) return;

  const name = btnFavorite.dataset.name;
  const id = btnFavorite.dataset.id;

  btnFavorite.addEventListener('click', () => {
    console.log(name, id) 
  })
})


</script>