---
import type { GetStaticPaths } from "astro";
import type { PokemonList } from "@interface/pokemon-list";

import PokeCard from "@components/PokeCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import NavBar from "../../shared/NavBar.astro"

export const getStaticPaths = (async({ paginate }) => {
	const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151")
	const { results } = await (resp.json()) as PokemonList;
	
	return paginate(results, { pageSize: 20});
}) satisfies GetStaticPaths;

const title = "Pokedex | Home";
const { page } = Astro.props;
---
<MainLayout title={title}>
	<div class="flex justify-around min-h-50 bg-white-soul pt-10">

		<h2 class="text-8xl text-black-soul">
			Lista de las criaturas
		</h2>
		<NavBar/>
	</div>

	<section
	class="grid sm:grid-cols-1  lg:grid-cols-3 xl:grid-cols-5 mx-90 my-10">
	{page.data.map(({ name, url }) => 
	<div class="hover:scale-105 duration-300 gap-4">
		<PokeCard
		name = {name}
		url={url}
		/>
	</div>
	)}
	</section>

	<section 
	class="
	bg-black-soul	flex justify-around py-10
	">
		<a
		class:list={[
			'text-white-soul text-2xl',
			{'text-red-600! cursor-not-allowed' : !page.url.prev}
		]}
		href={page.url.prev}>Anterior</a>
		<span class="text-2xl text-white-soul">{page.currentPage}</span>
		<a
		class:list={[
			'text-white-soul text-2xl',
			{'text-red-600! cursor-not-allowed' : !page.url.next}
		]}
		href={page.url.next}>Siguiente</a>
	</section>
</MainLayout>
