---
import type { GetStaticPaths } from "astro";
import type { PokemonList } from "@interface/pokemon-list";

import MainLayout from "@layouts/MainLayout.astro";
// relative Path:
// import PokeCard from "../../components/PokeCard.astro";
// 
// absolute path:
// import PokeCard from "src/components/PokeCard.astro";
// 
// path alias:
import PokeCard from "@components/PokeCard.astro";
import NavBar from "src/shared/NavBar.astro";


export const getStaticPaths = (async() => {
  
  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const { results } = await resp.json() as PokemonList;
  
  return results.map(({name, url})=>{
    
    
    const id = url.split('/').at(-2);
    
    return{
      params : {id},
      props : {name, url}
    }
  })
  
}) satisfies GetStaticPaths;

const { url, name} = Astro.props;
const { id } = Astro.params;
const AudioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;

---
<MainLayout 
title=`Pokemon | #${id} - ${name}`
description=`informacion sobre el pokemon numero ${id} conocido como: ${name}`
image={imgSrc}
/>
<div class="flex justify-around min-h-50 bg-white-soul pt-10">

		<h2 class="text-8xl text-black-soul">
			Lista de las criaturas
		</h2>

		<NavBar/>
		
	</div>
    <div class="flex flex-col items-center">
      <h3
      class="
      text-white-soul text-center text-8xl capitalize p-4 m-4
      hover:bg-blue-soul rounded-2xl
      ">{name}</h3>
      <span>
        <PokeCard
        name={name}
        url={url}
        isBig
        />
      </span>
      <audio controls class="mt-10">
        <source src={AudioSrc} type="audio/ogg">
      </audio>
    </div>
  </MainLayout>